
<mat-toolbar color="primary" class="main-toolbar">
    <mat-icon class="toolbar-icon" routerLink="./home">bubble_chart</mat-icon>
    <span class="title" routerLink="./home">MODifieR</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="./home">About MODifieR</button>
    <button mat-button routerLink="./analyze">Analysis Tool</button>
   <!-- <button mat-button routerLink="./analyze">Prefilled example</button>-->
    <!-- <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->
</mat-toolbar>
<div class="background">
    <mat-card class="content-card">
        <router-outlet></router-outlet>
    </mat-card>
</div>














