<!--<mat-card class="infoCard">-->
<div class="infoCard">
    <mat-card-title class="infoTitle">Welcome to ModifieR</mat-card-title>
    <!-- <br> -->
    <!-- <div class="info-picture"></div> -->
    <!-- <br> -->
    <!-- <img src="../../modifieRModel.jpg"> -->
    <div class="infoText">
        A web based tool for inference of disease modules.
    </div>
    <button mat-button class="analysisButton" routerLink="../analyze">Begin analysis</button>
    <div class="massiveInfoText">
        ModifieR is a web based tool, allowing for inferrence of disease modules using multiple algorithms.
        It takes a list of genes as input, allows you to choose a PPI networ to use for the analyss,
        and outputs a list of genes included in the disease module.
        <br>
        <br />
        ModifieR is developed at the Bioinformatics department of University of Skövde.
        If you have questions of comments regarding the tool, please contact persson.e.emma@gmail.com
    </div>

    <!--<div class="massiveInfoText">
        ModifieR is developed at the Bioinformatics department of University of Skövde.
        If you have questions of comments regarding the tool, please contact persson.e.emma@gmail.com
    </div>-->
    <!--<div class="infoText">
        persson.e.emma@gmail.com
    </div>-->
    <!--</mat-card>-->
</div>
