<mat-card class="infoCard">
<mat-card-title class="infoTitle">Welcome to ModifieR</mat-card-title>
<!-- <br> -->
<!-- <div class="info-picture"></div> -->
<!-- <br> -->
<!-- <img src="../../modifieRModel.jpg"> -->
<div class="infoText">
    A web based tool for inference of disease modules. 
</div>
<button mat-button class="analysisButton" routerLink="../analyze">Begin analysis</button>

<div class="massiveInfoText">
        ModifieR is a web based tool, allowing for inferrence of disease modules using multiple algorithms. 
        It takes a list of genes as input, allows you to choose a PPI networ to use for the analyss, 
        and outputs a list of genes included in the disease module. 
    </div>
    <div class="infoText">
            If you need help getting started, have a look at our prefilled example!
        </div>
        <button mat-button class="prefilledButton" routerLink="../analyze">Check out prefilled example</button>
        <div class="massiveInfoText">
                ModifieR is developed at the Bioinformatics department of University of Skövde.
                If you have questions of comments regarding the tool, please contact:
            </div>
            <div class="infoText">
                    persson.e.emma@gmail.com
                </div>
</mat-card>
