.label{
    margin-top: 30px;
    padding-top: 30px;
}
.checkbox-div{
    width: 300px;
}
.checkbox-div-top{
  width: 150px;
}
.card-title{
    padding-bottom: 20px;
}
.leftCheckboxDiv {
    display: flex;
    flex-flow: column;
    width: 200px;
}
.row-div {
    display: flex;
    flex-flow: row;
}
.checkbox{
    font-size: 14px;
    font-weight: normal;
}
.sliderErrorDiv {
    height: 80px;
    margin-bottom: 10px;
    margin-top:10px;
}

.next-button{
    margin-top: 20px;
    background-color:rgba(222, 222, 222, 0.54);
}
.instruction{
    margin-top: 20px;
}
.stepper-divider{
    margin-top: 15px;
}
.combine-slide{
    margin-top: 20px;
}

.network-selector{
    margin-top: 20px;
    width: 250px;
}
.errorText{
    margin-top: 20px;
    font-size: 12px;
}
.fileDesc{
    margin-top: 20px;
    margin-bottom: 10px;
}
.fileDescSmall {
    margin-top: 1px;
    margin-bottom: 10px;
}
.helpSign{
    font-size: 14px;
}
    .helpSign:hover {
        font-size: 14px;
        cursor: pointer;
    }

.dropArea {
    width: 32%;
    border-right: 1px solid lightgray;
    padding-left: 5px;
}
.sampleLabel{
    margin-top: 30px;
    margin-left: 10px;
}
.sampleInput{
    margin-top: 10px;
    margin-left: 10px;
}
.sampleChip{
    min-width: 40%;
}
    .sampleChip:hover {
        min-width: 40%;
        cursor: pointer;
    }